.row
  .col-md-6.col-md-offset-3
    p Title:  #{photo.title}
    p Description: #{photo.description}
    p Size: #{photo.size} | Filename: #{photo.originalname} | Uploaded: #{photo.createdAt}
    img(src=photo.imageurl, width="250")
    if flashMsg.length > 0
      .alert.alert-danger <strong></strong>#{flashMsg}
    form(method='POST' action="/photos/"+photo._id)
      div.form-group
        label(for='name') Photo Title :
        input#name.form-control(type='text', value=photo.title name='title')
      div.form-group
        label(for='email') Description:
        input#email.form-control(type='text', value=photo.description name='description')
      div.form-group
        input#name.form-control(type='hidden', name='_id' value=photo._id)
      button.btn.btn-primary(type='submit') Update Your Photo Information
    h2 Delete this photo
    form(action="/photos/delete/"+photo._id method='post')
      input#delBtn(type="submit" name="delPhotoButton" value="Delete Photo")
